---
import colors from '../../styles/colors';
---

<style
  lang='scss'
  define:vars={{
    heropink: colors.HERO_PINK,
    buttonpink: colors.BUTTON_PINK,
    textpink: colors.TEXT_PINK,
    main: colors.PURPLE_MAIN,
  }}
>

</style>

<div class='hero'>
  
</div>
