---
import Hero from '../../components/Hero/index.astro';
import Whoami from '../../components/Whoami/index.astro';
import Somework from '../../components/Somework/index.astro';
import Contact from '../../components/Contact/index.astro';
import Icons from '../../components/React/Icons';
---

<style lang='scss'>
  .
</style>

<Hero />
<div class='bar'></div>

<div class='bar has-text'>
  <span>© 2023 - FearlessTech - All rights reserved.</span>
</div>
