---
import '../../styles/colors';
---

<style
  lang='scss'
  define:vars={{
    TEXT_CYAN: intro_styles.TEXT_CYAN,
    TEXT_LT_CYAN: intro_styles.TEXT_LT_CYAN,
    SKILLS_PURPLE: intro_styles.SKILLS_PURPLE, // 
  }}
>




<div class='intro'>
  <h1>We are an OPEN TO ALL, Open Source Community.</h1>
  <p>
    We hope to bring together Programmers, Developers, UI/UX designers, testers,
    and beyond to participate in creating social impact products.
  </p>
  <img src="public/images/blue_wolf.png" alt="Blue Wolf"/>
</div>