<div>
  <h1>FearlessTech’s Mission</h1>
  <p>
    We strive to be a friendly and responsive group of collaborators who are all
    learning from and teaching one another.
  </p>
  <p>
    Our goal is to be inclusive to the largest number of contributors, with the
    most diverse backgrounds from everywhere in the World.
  </p>
  <img />
</div>