<div>
  <h1>Pitch a Project!</h1>
  <h6> All ideas are welcome.</h6>
  <p>
    Do you have an idea of a way we could write a program that could improve a communities daily life?  
    There is no wrong community, nor to small of a community.
  </p>
  <p>
    Is to write a sprinkler system for parts of the world facing doubts? 
    Do you want to write and an epic Dungeon's and Dragons game?
  </p>
  <img />
</div>